body {
  margin: 0;
  padding: 0;
  font-family: Public Sans;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: "Raleway", Helvetica, Arial,  sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

/* Navbar */
.nav-items .active {
  color: #000;
}

.nav-items > .active::after {
  position: absolute;
  margin-top: 6px;
  color: "#000";
  width: 100%;
  height: 1px;
}

/* Webkit */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.btn.ofc-btn.active {
  background-color: #6b6b6b;
  color: #EEE;
}